/* Pantalla 1 */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    box-sizing: border-box;
    background-color: #9b4922;
}
p{
    margin:0;
}
.pantalla1{
    width: 100%;
    height: 100dvh;
    /* background-color: red; */
    background-color: #9b4922;
    position: relative;
}

.cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 15;
    bottom: -50px;
    left: -50px;
    animation: moveCursor 1s 4;
}


@keyframes moveCursor {
    0% {
        bottom: -50px;
        left: -50px;
    }
    50% {
        bottom: -20px;
        left: -20px;
    }
    100% {
        bottom: -50px;
        left: -50px;
    }
}

.menu{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: none;
    flex-direction: column;
}

.menu .usuarioClasesAFAvor{
    color: white;
    font-weight: 1000;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding: 20px;    
}

.menu .usuarioDatos{
    color: white;
    font-size: 20px;
    padding: 10px;
}

.menu .usuarioHorarios{
    color: white;
    font-size: 20px;
    margin-left: 30px;
    padding-bottom: 10px;
}

.titulo{
    background-color: white;
    height: 15dvh;
    display: flex;
    justify-content: space-between;
}

.titulo .semana{
    width: 60dvw;
    height: 100%;
    background-color: white;
    font-size: 175%;
    padding: 20px;
    padding-left: 5%;
    padding-bottom: 15px;
    font-family: url(assets/fuentes/Montserrat.woff2);
    line-height: 1.38247149em;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #764b36;
    display: flex;
    align-items: end;
}
.login{
    width: 40dvw;
    height: 100%;
    display: flex;
    /* background-color: yellowgreen; */
    cursor: pointer;
    position: relative;
}

.cajaMensajeLogin{
    width: 80%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: url(assets/fuentes/Montserrat.woff2);
    font-size: 3dvh;
    font-weight: 700;
    line-height: 1.3815535em;
    text-align: center;
}

.cajaIncognito{
    width: 20%;
    height: 100%;
    /* background-color: brown; */
    margin-right: 10dvw;
    padding: 10px;
    position: relative;
}

.login .incognito{
    width: 100%;
    height: 100%;
}

/* Horario */
.horario{
    width: 100vw;
    height: 85dvh;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.conteinerRosa1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    /* background-color: red; */
}
.conteinerRosa2{
    width: 50%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: start;
}

.rosa1{
    width: 100%;
    max-height: 85dvh;
}
.rosa2{
    width: 100%;
    transform: rotate(180deg);
    max-height: 85dvh;
}

.tablaHorarios{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}
.gridContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(14,1fr);
    grid-gap: 10px;
    overflow: hidden;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.gridItem {
    background-color: white;
    word-wrap: break-word;
    font-size: 15px;
    text-align: center;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginMovil{
    display: none;
}
.botonReservar, .cambioDeSemana{
    color: black;
    background-color: #d8a790;
    width: 20dvw;
    height: 10dvh;
    border-radius: 20px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 800;
    font-family: url(assets/fuentes/Montserrat.woff2);   
    cursor: pointer;
    margin: 10px;
}

.cajaBotonReservar{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.loaderSencillo {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-left: 50px;
}

/* Animación del loader */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 768px) {
    .titulo{
        height: 10dvh;
    }
    .horario{
        height: 90dvh;
    }
    .titulo .semana{
        width: 80dvw;
        font-size: 100%;
        font-weight: 800;
    }
    .gridContainer{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .gridItem{
        font-size: 10px;
    }
    .login{
        display: none;
    }
    .loginMovil{
        display: block;
        width: 20dvw;
        padding: 0;
        position: relative;
    }
    .incognitoMovil{
        width: 100%;
        height: 100%;
        padding: 15px;
    }
    .botonReservar, .cambioDeSemana{
        color: black;
        background-color: #d8a790;
        width: 20dvh;
        height: 8dvh;
        border-radius: 20px;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
        font-weight: 800;
        font-family: url(assets/fuentes/Montserrat.woff2);   
        cursor: pointer;
        text-align: center;
        margin: 10px;
    }
    .cajaBotonReservar{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

